<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AntJenkinsTestSuit">
  <test verbose="2" name="MyTests">
    <classes>
    <class name="singamPackage.NewTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
